*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

docker-compose.override.yml

*.bak

.idea/
.vscode/
*.swp
*.swo

staticfiles/

.coverage
htmlcov/

.DS_Store

*.log